.btn {
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: rgb(180, 183, 185);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  font-weight: 700;
  min-width: 200px;
  padding: 10px 10px;
}

.btn:focus,
.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(73, 172, 103);
}

.custom-btn {
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}